/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/pulse/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min';
/* @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';  */
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';



.container{
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('./assets/img/background.png');
  background-size: auto;}

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }

  .nav-tabs > li.open, .dogs-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }

  .dogs-tabset > .nav-tabs > li.open > a, .dogs-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }

  .dogs-tabset > .nav-tabs > li.open > a > i, .dogs-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }

  .dogs-tabset > .nav-tabs > li.open .dropdown-menu, .dogs-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }

  .dogs-tabset > .nav-tabs > li.active {
    position: relative;

  }

  .dogs-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;

  }

  .dogs-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }

  .dogs-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
.tab-panel{
  background-color: white;
}
