@{
    ViewData["Title"] = "Techhowdy - Email Confirmation";
}



<div class="card">
    <div class="box">
        <div class="img">
            <img src="~/images/logo.png">
        </div>
        <h2>Dziękujemy<br><span>Email został potwierdzony</span></h2>
        <p>
          Możesz teraz pomyślnie się zalogować. Masz pełny dostęp do naszych produktów i usług.
        </p>
        <a class="btn btn-primary btn-block" href="http://localhost:4200">Przejdź do logowania</a>
    </div>
</div>