<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Dogs Meetings</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" >
        <button type="button" [routerLink]="['/dopasowania']"  class="btn btn-primary">Pary</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <button type="button" [routerLink]="['/lista-uzytkownikow']"   class="btn btn-primary">Lista</button>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <button type="button" [routerLink]="['/wiadomosci']"  class="btn btn-primary">Wiadomości</button>
      </li>
    </ul>
    <!-- <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <button type="button" class="btn btn-primary" dropdownToggle>
       Witamy, {{authService.decodedToken?.unique_name | titlecase }}
      </button>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item"><i class="fa fa-user"></i> Edytuj Profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Wyloguj</a>
      </div>
    </div> -->

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" *ngIf="loggedIn()" class="dropdown" dropdown>
      <button type="button" class="btn btn-primary" > Witamy, {{authService.decodedToken?.unique_name | titlecase }}</button>
      <div class="btn-group " role="group">
        <button id="btnGroupDrop1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item"><i class="fa fa-user"></i> Edytuj Profil</a>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Wyloguj</a>
        </div>
      </div>
    </div>

     <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()" >

      <input class="form-control mr-sm-2 mb-3 mb-md-0" type="text" name="username" minlength="4" placeholder="Nazwa użytkownika" required [(ngModel)]="model.username" >
      <input class="form-control mr-sm-2" type="password" name="password" minlength="4" placeholder="Hasło" required [(ngModel)]="model.password">
      <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Zaloguj</button>
    </form>
  </div>

</nav>

<!-- <pre>
  From Valid {{loginForm.valid}}
  From Touched: {{ loginForm.touched}}
  From Dirty: {{ loginForm.dirty}}
  From Values {{ loginForm.value | json}}

  Username Valid {{ username.valid}}
  Username Touched {{ username.touched}}
  Username Dirty: {{ username.dirty}}
  Username Value: {{ username.value}}

  Password Valid {{ password.valid}}
  Password Touched {{ password.touched}}
  Password Dirty: {{ password.dirty}}
  Password Value: {{ password.value}}
</pre> -->
