.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  font-weight: 600;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.dropdown-toggle, .dropdown-item, .dropdown-toggle:hover{
  cursor: pointer;
  text-decoration:  none;
}
.navbar .container-fluid{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
