<div class="card mb-4 mt-2">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{user.photoUrl}}" alt="{{user.knownAs}}">
    <ul class="list-inline dog-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/lista/', user.userName ]" routerLinkActive="router-link-active" ><fa-icon [icon]="faPaw"></fa-icon></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><fa-icon [icon]="faHeart"></fa-icon></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><fa-icon [icon]="faEnv"></fa-icon></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><fa-icon [icon]="faPaw"></fa-icon> {{user.knownAs}}, {{user.age}}</h6>
    <p class="card-text text-muted text-center">{{user.city}}</p>
  </div>
</div>
