<div class="container" *ngIf="authService.passReset || passwordReseted">
  <div class="row">
  <div class="col-12">
  <form #registerForm="ngForm" (ngSubmit)="reset()">
    <h2 class="text-center text-primary">Zresetuj hasło</h2>
    <hr>

    <div class="form-group">
      <!-- <input type="text" class="form-control" name="email" [(ngModel)]="model.email" required placeholder="Email" disabled> -->
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required placeholder="Hasło">
      <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="model.confirmpassword" required placeholder="Potwierdz hasło">
      <br>
      <input type="text" class="form-control" name="token" [(ngModel)]="model.token" required placeholder="Token">
    </div>
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Zresetuj hasło</button>
      <!-- <button class="btn btn-default" type="button">Wróć</button>
      <button class="btn btn-default" (click)="reset()" type="button">Wróć</button> -->
    </div>
    <div>
  </div>
  </form>
  </div>
  </div>
  </div>
